body {
	padding: 0;
	margin: 0;
	background-color: #161223;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

/* Page content */
.content {
	position: relative;
	display: block;
	width: 100vw;
	height: 1000px;
	background-color: #161223;
	z-index: 2;
}

.container {
	width: 80%;
	margin: auto;
	display: block;
}

.button {
	background-color: #cd412b;
	font-size: 1.25rem;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	align-items: center;
	display: inline-flex;
	height: 2.25rem;
	line-height: 1.5;
	font-weight: 700;
	transition: all 0.15s ease;
	color: #fff;
	text-decoration: none;
}

.button:hover {
	cursor: pointer;
	transform: scale(0.975);
}

.button .fab {
	margin-left: calc(-0.375em - 1px);
	margin-right: 0.1875em;
	height: 1.5em;
	width: 1.5em;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	height: 1.2rem;
}

/* Parallax stuff */
.hero,
.hero-layer {
	height: 850px;
	width: 100vw;
	overflow: hidden;
}
.hero {
	position: relative;
	display: block;
}
.hero-layer {
	background-position: bottom center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	position: fixed;
	display: block;
	height: 1000px;
	left: 50%;
	transform: translate(-50%, 0);
	pointer-events: none;
}

#hero-7 {
	background-image: url('images/Parallax1.png');
}
#hero-6 {
	background-image: url('images/Parallax2.png');
}
#hero-5 {
	background-image: url('images/Parallax3.png');
}
#hero-4 {
	background-image: url('images/Parallax4.png');
}
#hero-3 {
	background-image: url('images/Parallax5.png');
}
#hero-2 {
	background-image: url('images/Parallax6.png');
}
#hero-1 {
	background-image: url('images/Parallax7.png');
}
#hero-0 {
	background-image: url('images/Parallax8.png');
}

.landing-hero {
	text-align: center;
	left: 50%;
	top: 15%;
	width: 75%;
	pointer-events: all;
}

.landing-hero .logo {
	margin: auto;
	display: block;
	width: 25rem;
	height: auto;
}

.landing-hero h1 {
	font-weight: 800;
	font-size: 2.5rem;
	padding-top: 2rem;
	margin: auto;
	width: 50%;
}

.landing-hero h3 {
	color: rgba(246, 234, 225, 0.9);
	font-size: 1rem;
	font-weight: 400;
	margin: auto;
	padding-bottom: 15px;
	width: 50%;
}
